@model IEnumerable<BugTracker.Models.Ticket>
@using Microsoft.AspNetCore.Identity
@using BugTracker.Services.Interfaces
@using BugTracker.Models.Enums

@inject UserManager<BTUser> UserManager
@inject IBTProjectService ProjectService

@{
    ViewData["Title"] = "All Tickets";
    BTUser user = await UserManager.GetUserAsync(User);

    int resolvedTickets = Model.Where(t => t.TicketStatus.Name == "Resolved").Count();

    int openTickets = Model.Where(t => t.TicketStatus.Name != "Resolved" && t.Archived == false).Count();

    int developmentTickets = Model.Where(t => t.TicketStatus.Name == "Development").Count();

    int urgentTickets = Model.Where(t => t.TicketPriority.Name == "Urgent").Count();
}

@section VendorCSS {
    <link rel="stylesheet" href="~/vendor/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css">
    <link rel="stylesheet" href="~/vendor/jquery-datatable/dataTables.bootstrap4.min.css">
}

<div class="row clearfix">
    <div class="col-lg-3">
        <div class="card">
            <div class="body text-center">
                <h5 class="m-b-3">Open Tickets</h5>
                <input readonly disabled type="text" class="knob" value="@openTickets" data-width="120" data-height="120" data-thickness="0.12" data-fgColor="#d9534f">
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card">
            <div class="body text-center">
                <h5 class="m-b-3">Resolved Tickets</h5>
                <input readonly disabled type="text" class="knob" value="@resolvedTickets" data-width="120" data-height="120" data-thickness="0.12" data-fgColor="#5cb85c">
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card">
            <div class="body text-center">
                <h5 class="m-b-3">Development Tickets</h5>
                <input readonly disabled type="text" class="knob" value="@developmentTickets" data-width="120" data-height="120" data-thickness="0.12" data-fgColor="#5bc0de">
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card">
            <div class="body text-center">
                <h5 class="m-b-3">Urgent Tickets</h5>
                <input readonly disabled type="text" class="knob" value="@urgentTickets" data-width="120" data-height="120" data-thickness="0.12" data-fgColor="#8bc3fe">
            </div>
        </div>
    </div>
</div>



@*Tickets Table*@
<div class="row clearfix mt-2">
    <div class="col-lg-12 col-md-12">
        <div class="card">
            <div class="body">
                <div class="table-responsive">
                    <table class="table table-hover js-basic-example dataTable table-custom mb-0">
                        <thead>
                            <tr>
                                <th class="cell">Assigned by</th>
                                <th class="cell">Assigned to</th>
                                <th class="cell">Title</th>
                                <th class="cell">Status</th>
                                <th class="cell">Priority</th>
                                <th class="cell">Date</th>
                                <th class="cell">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach(Ticket ticket in Model)
                            {     
                                <tr>            
                                    @*Owner*@
                                    @if(ticket.OwnerUserId is not null)
                                    {
                                        <td class="cell">@ticket.OwnerUser.FullName</td>
                                    }
                                    else
                                    {
                                        <td class="cell">SEEDED</td>
                                    }

                                    @*DeveloperUser*@
                                    @if(ticket.DeveloperUserId is not null)
                                    {
                                        <td class="cell">@ticket.DeveloperUser.FullName</td>
                                    }
                                    else
                                    {
                                        <td class="cell"></td>
                                    }
                                    
                                    @*Title*@
                                    <td class="cell"><strong>@ticket.Title</strong></td>

                                    @*TicketStatus*@
                                    @if(ticket.TicketStatus.Name == "New")
                                    {
                                        <td class="cell"><span class="badge badge-success">@ticket.TicketStatus.Name</span></td>
                                    }
                                    @if(ticket.TicketStatus.Name == "Development")
                                    {
                                        <td class="cell"><span class="badge badge-info">@ticket.TicketStatus.Name</span></td>
                                    }
                                    @if(ticket.TicketStatus.Name == "Testing")
                                    {
                                        <td class="cell"><span class="badge badge-warning">@ticket.TicketStatus.Name</span></td>
                                    }
                                    @if(ticket.TicketStatus.Name == "Resolved")
                                    {
                                        <td class="cell"><span class="badge badge-default">@ticket.TicketStatus.Name</span></td>
                                    }

                                    @*TicketPriority*@
                                    @if (ticket.TicketPriority.Name == "Low")
                                    {
                                        <td class="cell"><span class="badge badge-default">@ticket.TicketPriority.Name</span></td>
                                    }
                                    @if (ticket.TicketPriority.Name == "Medium")
                                    {
                                        <td class="cell"><span class="badge badge-info">@ticket.TicketPriority.Name</span></td>
                                    }
                                    @if (ticket.TicketPriority.Name == "High")
                                    {
                                        <td class="cell"><span class="badge badge-warning">@ticket.TicketPriority.Name</span></td>
                                    }
                                    @if (ticket.TicketPriority.Name == "Urgent")
                                    {
                                        <td class="cell"><span class="badge badge-danger">@ticket.TicketPriority.Name</span></td>
                                    }

                                    @*TicketDate*@
                                    <td class="cell">@ticket.Created.ToString("MM-dd-yyyy")</td>

                                    @*Actions*@
                                    <td class="cell text-center">
										<a asp-controller="Tickets" asp-action="Details" asp-route-id="@ticket.Id" class="btn btn-sm btn-outline-info"><i class="icon-eye"></i></a>
										@if(User.IsInRole(nameof(Roles.Admin)))
										{
											<a asp-controller="Tickets" asp-action="Edit" asp-route-id="@ticket.Id" class="btn btn-sm btn-outline-secondary"><i class="icon-pencil"></i></a>
											<a class="btn btn-sm btn-outline-danger" asp-controller="Tickets" asp-action="Archive" asp-route-id="@ticket.Id"><i class="fa fa-file-archive-o"></i></a>
										}
									</td>
                                </tr>

                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

     

@section scripts{ 

    <script src="~/bundles/datatablescripts.bundle.js"></script>
    <script src="~/js/pages/tables/jquery-datatable.js"></script>
    
    <script src="~/vendor/jquery-knob/jquery.knob.min.js"></script>
    <script src="~/bundles/mainscripts.bundle.js"></script>
    <script src="~/js/pages/charts/jquery-knob.js"></script>
    
   
}