@model BugTracker.Models.Ticket
@using BugTracker.Models.Enums
@using BugTracker.Services.Interfaces
@using Microsoft.AspNetCore.Identity

@inject UserManager<BTUser> UserManager
@inject IBTProjectService ProjectService
@inject IBTTicketHistoryService HistoryService
@inject IBTFileService FileService

@{
	ViewData["Title"] = "Detail";
	BTUser user = await UserManager.GetUserAsync(User);
	BTUser projectManager = await ProjectService.GetProjectManagerAsync(Model.ProjectId);
}

<h1>Ticket Details</h1>

<div>
	<div classxfont-weighteighteightgetainer-fluid">
		<div class="row gy-2">
			<div class="col-md-12 col">
				<div class="row col-cols-2 mt-5 bg-secondary">
					<div class="card col m-1 p-2">
						<div class="card-body">
							<h5>@Model.Title</h5>
							<p>@Model.Description</p>
							<div class="progress-container progress-info m-b-25">
								<span class="progress-badge" style="font-size:small">Project: @Model.Project.Name</span>
								<div class="progress">
									@{
										var start = Model.Project.StartDate.DateTime;
                                        var end = Model.Project.EndDate.DateTime;
                                        var today = DateTime.Now;
                                        var percent = today >= end ? 100 : today < start ? 0 : Math.Round((today.Subtract(start)) / (end.Subtract(start)) * 100);
									}
									<div class="progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: @percent%;">
										
										<span class="progress-value">@percent%</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="card col m-1 p-2">
						<div class="card-body">
							<ul class="list-unstyled">		
								<li><strong>Project:</strong> <span class="">  @Model.Project.Name</</span></li>
								<li><strong>Date Entered:</strong> <span class="">  @Model.Created.ToString("dd MMM, yyyy")</</span></li>
								<li><strong>Deadline:</strong> <span class="">  @Model.Project.EndDate.ToString("dd MMM, yyyy")</</span></li>
								<li><strong>Type:</strong> <span class="">  @Model.TicketType.Name</span></li>
								<li><strong>Priority:</strong> <span class="">  @Model.TicketPriority.Name</span></li>
								<li><strong>Status:</strong> <span class="">  @Model.TicketStatus.Name</span></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-8 col col-cols-2 mt-5 ">
				<div class="col">
					<div class="bg-secondary">
						<div class="card m-1 p-2">
							<div class="card-header">
								<h2>Comments</h2>
							</div>
							<div class="card-body" style="overflow-y:auto;height:600px;">
								<form asp-action="AddTicketComment" asp-controller="Tickets" method="post">
									<input type="hidden" asp-for="Id" name="TicketId"/>
									@if(Model.DeveloperUserId == user.Id || Model.OwnerUserId == user.Id || projectManager?.Id == user.Id || User.IsInRole(nameof(Roles.Admin)))
									{
										<div class="form-group">
											<textarea asp-for="@(new TicketComment().Comment)" rows="8" class="form-control" required placeholder="Add comment..."></textarea>
										</div>
										<button class="btn btn-sm btn-primary mt-3">Submit</button>
									}
									else
									{
										<div class="form-group">
											<textarea disabled asp-for="@(new TicketComment().Comment)" rows="8" class="form-control" required placeholder="Add comment ..."></textarea>
										</div>
									}
								</form>


								<hr />
									<h6>Comments</h6>
									<ul class="right_chat list-unstyled mb-0">
									@foreach (TicketComment ticketComment in Model.Comments)
									{
										<li class="online mb-4">
											<div class="media">
												<a href="javascript:void(9);">
													@if(user?.AvatarFileData is not null)
													{
														<img class="media-object" src="data:image/*;base64,@(Convert.ToBase64String(user.AvatarFileData))" alt="Avatar"/>
													}
													else
													{
														<img class="media-object" src="https://cdn.icon-icons.com/icons2/1378/PNG/512/avatardefault_92824.png" alt="" style="width:30px;height:30px;"/>
													}
												</a>
												<div class="media-body">
													<span class="text-muted" style="font-size:x-small;">
														@@ @ticketComment.User.FullName
														<small class="float-right">@ticketComment.Created.ToString("MM.dd.yyyy h:ss tt")</small>:
													</span>
												</div>
												<span class="message text-primary">@Html.Raw(ticketComment.Comment)</span>
											</div>
										</li>
									}	
								</ul>
							</div>
							<div class="card-footer">
							</div>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="bg-secondary">
						<div class="card m-1 p-2">
							<div class="card-header">
								<h2>Attachments</h2>
							</div>
							<div class="card-body" style="overflow-y:auto;height:300px;">
							<div class="row clearfix">
								<div>
									<form asp-action="AddTicketAttachment" asp-controller="Tickets" enctype="multipart/form-data" method="post">
										<div asp-validation-summary="ModelOnly" class="text-danger"></div>
										<input type="hidden" asp-for="@Model.Id" name="TicketId" />
										<div class="media-body ml-3">
											<label>
												Description
												<input asp-for="@Model.Attachments.FirstOrDefault().Description" type="text" class="form-control-file" />
											</label>
											<label>
												<input asp-for="@Model.Attachments.FirstOrDefault().FormFile" type="file" class="form-control-file" />
											</label>
											<button type="submit" class="btn btn-outline-secondary btn-sm md-btn-flat mt-3">Submit</button>
										</div>
									</form>
								</div>
							</div>
							
							<hr />
							<h6>Attachments</h6>
							<div class="container">
								<div class="row">
									   @foreach (TicketAttachment item in Model.Attachments)
									   {
											<div class="col col-sm-2">
	            								   <a asp-action="ShowFile" asp-controller="Tickets" asp-route-Id="@item.Id">
	            	   								<div class="icon">
	            	   									<img src="@FileService.GetFileIcon(item.FileName)" style="height:75px;width:75px" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="@item.FileName" />
	            	   								</div>
	            								   </a>
	            								   <div style="font-size:x-small">
	            	   								<div class="file-name">
	            	   									<strong>@item.Description</strong>
	            	   								</div>
	            	   								<small>Size: @FileService.FormatFileSize(item.FileData.Length) </small>
	            								   </div>
											</div>
									   }
								</div>
							</div>
														    
							</div>
							<div class="card-footer">
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4 col mt-5 ">
				<div class="bg-dark">
					<div class="card m-1 p-2">
						<div class="card-header">
							<h2>History</h2>
							<hr />
						</div>
						<div class="card-body" style="overflow-y:auto;height:1000px;background-color:antiquewhite">
							@*Loop to show the history entries for the Ticket*@
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
