@model BugTracker.Models.Ticket

@{
    ViewData["Title"] = "Restore";
}

<h1>Restore</h1>

<h3>Are you sure you want to restore this?</h3>
<div>
    <h4>Ticket</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TicketStatusId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TicketStatusId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Created)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Created)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Updated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Updated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Archived)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Archived)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Project)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Project.Name)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OwnerUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OwnerUser.Id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeveloperUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeveloperUser.Id)
        </dd class>
    </dl>
    
    <form asp-action="Restore">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Restore" class="btn btn-success" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
