@model IEnumerable<BugTracker.Models.Notification>

@{
    ViewData["Title"] = "Index";
}

@section VendorCSS {
    <link rel="stylesheet" href="~/vendor/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css">
    <link rel="stylesheet" href="~/vendor/jquery-datatable/dataTables.bootstrap4.min.css">
}

<div class="row clearfix mt-4">
	<div class="col-lg-12 col-md-12">
		<div class="card">
			<div class="body">
                <div class="table-responsive">
                    <table class="table table-hover js-basic-example dataTable table-custom mb-0">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Title)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Message)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Created)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Viewed)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Ticket)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Recipient)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Sender)
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model) {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Title)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Message)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Created)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Viewed)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Ticket.Description)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Recipient.Id)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Sender.Id)
                                    </td>
                                    
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/bundles/datatablescripts.bundle.js"></script>
    <script src="~/js/pages/tables/jquery-datatable.js"></script>
    
}