@using BugTracker.Models.Enums
@model IEnumerable<BugTracker.Models.Notification>

@{
    ViewData["Title"] = "Notifications";
     Layout = "~/Views/Shared/_Layout.cshtml";
}

@section VendorCSS {
    <link rel="stylesheet" href="~/vendor/sweetalert/sweetalert.css" />
    <link rel="stylesheet" href="~/css/inbox.css">
}


<div class="row clearfix">
    <div class="col-lg-12">
        <div class="card">
            <div class="mobile-left">
                <a class="btn btn-primary toggle-email-nav collapsed" data-toggle="collapse" href="#email-nav" role="button" aria-expanded="false" aria-controls="email-nav">
                    <span class="btn-label">
                        <i class="la la-bars"></i>
                    </span>
                    Menu
                </a>
            </div>
            <div class="mail-inbox">
                <div class="mail-left collapse" id="email-nav">
                    @if(User.IsInRole(nameof(Roles.Admin)))
                    {
                        <div class="mail-compose m-b-20">
                            <a href="@Url.Action("Compose","App")" class="btn btn-primary btn-block">Compose</a>
                        </div>
                    }
                    <div class="mail-side">
                        <ul class="nav">
                            <li class="active"><a href="javascript:void(0);"><i class="icon-envelope"></i>New<span class="badge badge-primary float-right">@Model.Count()</span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="mail-right">
                    <div class="header d-flex align-center">
                        <h2>Inbox</h2>
                        <form class="ml-auto">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search Mail" aria-label="Search Mail" aria-describedby="search-mail">
                                <div class="input-group-append">
                                    <span class="input-group-text" id="search-mail"><i class="icon-magnifier"></i></span>
                                </div>
                            </div>
                        </form>
                    </div>
                    
                        <div class="mail-action clearfix">
                            <div class="pull-left">
                                <div class="fancy-checkbox d-inline-block">
                                    <label>
                                        <input class="select-all" type="checkbox" name="checkbox">
                                        <span></span>
                                    </label>
                                </div>
                                <div class="btn-group">
                                    <a href="javascript:location.reload();" class="btn btn-outline-secondary btn-sm hidden-sm">Refresh</a>
                                    <a asp-action="Archive" asp-controller="Notifications" class="btn btn-outline-secondary btn-sm hidden-sm">Archive</a>
                                </div>
                            </div>
                            <div class="pull-right ml-auto">
                                <div class="pagination-email d-flex">
                                    <p>1-50/295</p>
                                    <div class="btn-group m-l-20">
                                        <button type="button" class="btn btn-outline-secondary btn-sm"><i class="fa fa-angle-left"></i></button>
                                        <button type="button" class="btn btn-outline-secondary btn-sm"><i class="fa fa-angle-right"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>                        
                            <div class="mail-list">
                                <ul class="list-unstyled">
                                    @foreach(Notification notification in Model.Reverse())
                                    {
                                        <li class="clearfix">
                                            <div class="mail-detail-left">
                                                <label class="fancy-checkbox">
                                                    <input type="checkbox" name="checkbox" class="checkbox-tick">
                                                    <span></span>
                                                </label>
                                                <a href="javascript:void(0);" class="mail-star active"><i class="fa fa-star"></i></a>
                                            </div>
                                            <div class="mail-detail-right">
                                                <h6 class="sub"><a href="javascript:void(0);" class="mail-detail-expand">@notification.Title</a> <span class="badge badge-primary mb-0">Ticket</span></h6>
                                                <p class="dep"><span class="m-r-10">[@notification.Ticket.Project.Name]</span>@notification.Message</p>
                                                <span class="time">@notification.Created.ToString("dd MMM")</span>
                                            </div>
                                            <div class="hover-action">
                                                <button type="button" data-type="confirm" class="btn btn-danger js-sweetalert" title="Archive"><i class="fa fa-archive"></i></button>
                                            </div>
                                        </li>
                                    }
                                </ul>
                            </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/vendor/sweetalert/sweetalert.min.js"></script> <!-- SweetAlert Plugin Js -->
    <script src="~/js/pages/ui/dialogs.js"></script>
}