@using BugTracker.Extensions
@using BugTracker.Models.Enums
@using BugTracker.Services.Interfaces
@using BugTracker.Models.ViewModels
@model IEnumerable<ManageUserRolesViewModel>
@inject IBTRolesService RolesService
@inject IBTCompanyInfoService CompanyInfoService

@{
    ViewData["Title"] = "Manage Roles";
    Layout = "~/Views/Shared/_Layout.cshtml";

    int companyId = User.Identity.GetCompanyId().Value;

    IEnumerable<BTUser> companyMembers = await CompanyInfoService.GetAllMembersAsync(companyId);

}


@section VendorCSS {
    <link rel="stylesheet" href="~/vendor/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css">
    <link rel="stylesheet" href="~/vendor/jquery-datatable/dataTables.bootstrap4.min.css">   


    <link rel="stylesheet" href="~/vendor/bootstrap-multiselect/bootstrap-multiselect.css">
    <link rel="stylesheet" href="~/vendor/bootstrap-datepicker/css/bootstrap-datepicker3.min.css">
    <link rel="stylesheet" href="~/vendor/bootstrap-colorpicker/css/bootstrap-colorpicker.css" />
    <link rel="stylesheet" href="~/vendor/multi-select/css/multi-select.css">
    <link rel="stylesheet" href="~/vendor/bootstrap-tagsinput/bootstrap-tagsinput.css">
    <link rel="stylesheet" href="~/vendor/nouislider/nouislider.min.css" />
    <link rel="stylesheet" href="~/vendor/select2/select2.css" />

}     

<div class="row clearfix">
    <div class="col-lg-12 col-md-12">
        <div class="card">
            <div class="body">
                <div class="table-responsive">
                    <table class="table table-hover js-basic-example dataTable table-custom mb-0">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Name</th>
                                <th>Current Role</th>
                                <th>Manage Role</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach(ManageUserRolesViewModel membersVM in Model.Where(m => !m.AssignedRoles.Contains(nameof(Roles.Admin))))
                            {     
                                <tr>
                                    @if(membersVM.Member.AvatarFileData is null)
                                    {
                                        <td >
                                            <img class="rounded-circle" style="width:30px;height:30px;" src="https://cdn.icon-icons.com/icons2/1378/PNG/512/avatardefault_92824.png" alt="Default Avatar"/>
                                        </td>
                                    }
                                    else
                                    {
                                        <td class="cell">
                                            <img class="rounded-circle" style="width:60px;height:60px;" src="data:image/*;base64,@(Convert.ToBase64String(membersVM.Member.AvatarFileData))" alt="@membersVM.Member.FullName's avatar'" />
                                        </td>
                                    }
                                    <td><strong>@membersVM.Member.FullName</strong> <br /> @membersVM.Member.Email.ToLower()</td>

                                    @{
                                        var memberRoles = await RolesService.GetUserRolesAsync(membersVM.Member);
                                    }
                                                
                                    <td>
                                        @foreach(string role in memberRoles)
                                        {
                                            <span class="badge badge-info">@role</span>
                                        }
                                    </td>

                                    <form method="post" asp-action="ManageUserRoles" asp-controller="UserRoles">
                                        <input hidden asp-for="@membersVM.Member.Id" />
                                        <td>
                                            <select asp-for="@membersVM.SelectedRoles" asp-items="@membersVM.Roles" id="multiselect1" class="multiselect multiselect-custom" multiple="multiple">
                                                
                                            </select>
                                        </td>
                                        <td><button class="btn btn-outline-success" type="submit">Submit</button></td>
                                    </form>
                                    
                                </tr>

                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


@*Other Template*@
<div class="row clearfix">
    @foreach(ManageUserRolesViewModel memberModel in Model)
    {
        <div class="col-lg-3 col-md-12 col-sm-12">
            <div class="row clearfix">
                <div class="card top_counter h-100 pt-3">
                    <div class="body">
                        <h4>@memberModel.Member.FullName</h4>
                        <hr/>
                        <form asp-action="ManageUserRoles" asp-controller="UserRoles" method=post>
                            <input type="hidden" asp-for="@memberModel.Member.Id"/> 
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <select asp-for="@memberModel.SelectedRoles" id="optgroup" class="ms" multiple="multiple" asp-items="@memberModel.Roles"></select>
                                        <hr />
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" value="Assign Role" class="btn btn-primary text-white" />
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>              
    }
</div>

@section scripts{ 
    <script src="~/bundles/datatablescripts.bundle.js"></script>
    <script src="~/js/pages/tables/jquery-datatable.js"></script> 
    



    <script src="~/vendor/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script> <!-- Bootstrap Colorpicker Js -->
    <script src="~/vendor/jquery-inputmask/jquery.inputmask.bundle.js"></script> <!-- Input Mask Plugin Js -->
    <script src="~/vendor/jquery.maskedinput/jquery.maskedinput.min.js"></script>
    <script src="~/vendor/multi-select/js/jquery.multi-select.js"></script> <!-- Multi Select Plugin Js -->
    <script src="~/vendor/bootstrap-multiselect/bootstrap-multiselect.js"></script>
    <script src="~/vendor/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="~/vendor/bootstrap-tagsinput/bootstrap-tagsinput.js"></script> <!-- Bootstrap Tags Input Plugin Js -->
    <script src="~/vendor/nouislider/nouislider.js"></script> <!-- noUISlider Plugin Js -->

    <script src="~/vendor/select2/select2.min.js"></script> <!-- Select2 Js -->

    <script src="~/bundles/mainscripts.bundle.js"></script>
    <script src="~/js/pages/forms/advanced-form-elements.js"></script>
}