@model BugTracker.Models.ViewModels.DashboardViewModel
@using BugTracker.Extensions
@using BugTracker.Models.Enums
@using Microsoft.AspNetCore.Identity
@using System.Linq
@using System.Linq.Expressions
@using BugTracker.Services.Interfaces

@inject UserManager<BTUser> UserManager
@inject IBTRolesService RolesService
@inject IBTProjectService ProjectService
@inject IBTCompanyInfoService CompanyInfoService
@{
    ViewData["Title"] = "Dashboard";
    BTUser user = await UserManager.GetUserAsync(User);
    int companyId = User.Identity.GetCompanyId().Value;

    Company company = await CompanyInfoService.GetCompanyInfoByIdAsync(companyId);

    int allUsers = (await UserManager.GetUsersInRoleAsync(nameof(Roles.Admin))).Count +
                   (await UserManager.GetUsersInRoleAsync(nameof(Roles.ProjectManager))).Count +
                   (await UserManager.GetUsersInRoleAsync(nameof(Roles.Developer))).Count +
                   (await UserManager.GetUsersInRoleAsync(nameof(Roles.Submitter))).Count;

    int developersCount = (await UserManager.GetUsersInRoleAsync(nameof(Roles.Developer))).Count;


}

@section VendorCSS {
    <link rel="stylesheet" href="~/vendor/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css">
    <link rel="stylesheet" href="~/vendor/jvectormap/jquery-jvectormap-2.0.3.min.css" />
    <link rel="stylesheet" href="~/vendor/morrisjs/morris.min.css" />
    <link rel="stylesheet" href="~/vendor/nestable/jquery-nestable.css" />
    <link rel="stylesheet" href="~/vendor/jquery-datatable/dataTables.bootstrap4.min.css">

}

@*First Row : Pills*@
<div class="row clearfix">
    <div class="col-lg-3 col-md-6">
        <a asp-action="AllProjects" asp-controller="Projects" style="text-decoration: none;">
            <div class="card overflowhidden">
                <div class="body text-center bg-info">
                    <div class="p-15 text-light">
                        <h3>@Model.Projects.Where(p => p.EndDate > DateTime.Now).Count()</h3>
                        <span>Active Projects</span>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-3 col-md-6">
        <a asp-action="AllTickets" asp-controller="Tickets" style="text-decoration: none;">
            <div class="card overflowhidden">
                <div class="body text-center bg-secondary">
                    <div class="p-15 text-light">
                        <h3>@Model.Tickets.Count</h3>
                        <span>Total Tickets</span>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-3 col-md-6">
        <a asp-action="UnassignedTickets" asp-controller="Tickets" style="text-decoration: none;">
            <div class="card overflowhidden">
                <div class="body text-center bg-warning">
                    <div class="p-15 text-light">
                        <h3>@Model.Tickets.Where(t => t.DeveloperUser is null).Count()</h3>
                        <span>Unassigned Tickets</span>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="card overflowhidden">
            <div class="body text-center bg-dark">
                <div class="p-15 text-light">
                    <h3>@(Model.Projects.Count() + Model.Tickets.Count() + Model.Members.Count())</h3>
                    <span>Active Projects</span>
                </div>
            </div>
        </div>
    </div>
</div>

@*Second Row : Charts/Data Points*@
<div class="row clearfix">
    <div class="col-lg-3 col-md-12 col-sm-12">
        <div class="row clearfix">
            @*Card 1 Stats*@
            <div class="col-lg-12 col-md-6">
                <div class="card top_counter h-100 pt-3">
                    <div class="body">
                        <div class="icon"><i class="fa fa-user"></i> </div>
                        <div class="content">
                            <div class="text">New Users</div>
                            <h5 class="number">0</h5>
                        </div>
                        <hr />
                    </div>
                    
                    <div class="body mt-0 pt-0">
                        <div class="icon"><i class="fa fa-users"></i> </div>
                        <div class="content">
                            <div class="text">Total Users</div>
                            <h5 class="number">@allUsers</h5>
                        </div>
                        <hr />
                    </div>
                    
                    <div class="body mt-0 pt-0">
                        <div class="icon"><i class="fa fa-ticket"></i> </div>
                        <div class="content">
                            <div class="text">Tickets in Development</div>
                            <h5 class="number">@Model.Tickets.Where(t => t.TicketStatus.Name == "Development").Count()</h5>
                        </div>
                        <hr />
                    </div>
                    
                    <div class="body mt-0 pt-0">
                        <div class="icon"><i class="fa fa-code"></i> </div>
                        <div class="content">
                            <div class="text">Total Developers</div>
                            <h5 class="number">@developersCount</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*Card 2 Stats*@
    <div class="col-lg-3 col-md-6">
        <div class="card h-100 pt-3">
            <div class="header">
                <h2>Company Data
                    <small>@company.Name</small>
                </h2>
            </div>
            <div class="body">
                <div class="list-group list-widget">
                    <div class="list-group-item">
                        <span class="badge badge-success">@allUsers</span>
                        <i class="fa fa-users text-muted"></i>Members
                    </div>
                    <div href="javascript:void(0);" class="list-group-item">
                        <span class="badge badge-info">@Model.Projects.Count</span>
                        <i class="fa fa-folder text-muted"></i> Projects
                    </div>
                    <div class="list-group-item">
                        <span class="badge badge-warning">@Model.Tickets.Count</span>
                        <i class="fa fa-ticket text-muted"></i> Tickets
                    </div>
                    <div class="list-group-item">
                        <span class="badge badge-danger">0</span>
                        <i class="fa fa-bell text-muted"></i> Notifications
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*Card 3 Pie Chart*@
    <div class="col-lg-3 col-md-6">
        <div class="card h-100">
            <div class="header">
                <h2>Priority Projects<small>Project Priorities</small></h2>
            </div>
            <div class="body">
                <div class="sparkline-pie text-center">@Model.Projects.Where(p => p.ProjectPriority.Name == nameof(BTProjectPriority.Urgent)).Count(),@Model.Projects.Where(p => p.ProjectPriority.Name == nameof(BTProjectPriority.High)).Count(),@Model.Projects.Where(p => p.ProjectPriority.Name == nameof(BTProjectPriority.Medium)).Count(), @Model.Projects.Where(p => p.ProjectPriority.Name == nameof(BTProjectPriority.Low)).Count()</div>
                <div class="stats-report text-center">
                    <div class="stat-item">
                        <h5>@nameof(BTProjectPriority.Urgent)</h5>
                        <b class="col-black">@(Model.Projects.Where(p => p.ProjectPriority.Name == nameof(BTProjectPriority.Urgent)).Count() / Model.Projects.Count * 100)%</b>
                    </div>
                    <div class="stat-item">
                        <h5>@nameof(BTProjectPriority.High)</h5>
                        <b class="col-black">@(Model.Projects.Where(p => p.ProjectPriority.Name == nameof(BTProjectPriority.High)).Count() / Model.Projects.Count * 100)%</b>
                    </div>
                    <div class="stat-item">
                        <h5>@nameof(BTProjectPriority.Medium)</h5>
                        <b class="col-black">@(Model.Projects.Where(p => p.ProjectPriority.Name == nameof(BTProjectPriority.Medium)).Count() / Model.Projects.Count * 100)%</b>
                    </div>
                    <div class="stat-item">
                        <h5>@nameof(BTProjectPriority.Low)</h5>
                        <b class="col-black">@(Model.Projects.Where(p => p.ProjectPriority.Name == nameof(BTProjectPriority.Low)).Count() / Model.Projects.Count * 100)%</b>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    @*Card 4 Stacked Chart*@
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="header">
                <h2>Top Products</h2>
            </div>
            <div class="body">
                <div id="chart-roles" class="ct-chart text-center"></div>
            </div>
        </div>
    </div>
</div>

@*Third Row : Tables*@
<div class="row clearfix mt-4">
    @*Members Table*@
    <div class="col-lg-5 col-md-12">
        <div class="card">
            <div class="header">
                <h2>Members</h2>
            </div>
             <div class="body">
                <div class="table-responsive">
                    <table class="table table-hover js-basic-example dataTable table-custom mb-0">
                        <thead class="thead-dark">
                            <tr>
                                <th>Avatar</th>
                                <th>Name</th>
                                <th>Projects</th>
                                <th>Role</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach(BTUser member in Model.Members)
                            {
                                <tr>
                                    @if(member.AvatarFileData is null)
                                    {
                                        <td><img src="https://cdn.icon-icons.com/icons2/1378/PNG/512/avatardefault_92824.png" class="rounded-circle" style="width:30px;height:30px;"  title="@member.FullName"  alt="Default Avatar" /></td>
                                    }
                                    @if(member.AvatarFileData is not null)
                                    {
                                        <td><img src="data:image/*;base64,@(Convert.ToBase64String(member.AvatarFileData))" class="rounded-circle" style="width:30px;height:30px;" title="@member.FullName"  alt="@member.FullName's Avatar" /></td>
                                    } 

                                    <td>@member.FullName</td>
                                    
                                    @if(member.Projects is null)
                                    {
                                        <td>0</td>
                                    }
                                    @if(member.Projects is not null)
                                    {
                                        <td>@member.Projects.Count</td>
                                    }

                                    @{
                                        IEnumerable<string> memberRoles = await RolesService.GetUserRolesAsync(member);
                                        string memberRole = memberRoles.FirstOrDefault();
                                    }

                                    <td><span class="badge badge-default">@memberRole</span></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    @*@Projects Table*@
    <div class="col-lg-7 col-md-12">
        <div class="card">
            <div class="header">
                <h2>Projects</h2>
            </div>
            <div class="body">
                <div class="table-responsive">
                    <table class="table table-hover js-basic-example dataTable table-custom mb-0">
                        <thead class="thead-dark">
                            <tr>
                                <th>Project</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>Team</th>
                                <th>Ticket Count</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach(Project project in Model.Projects.Where(p => p.Archived == false))
                            {
                                <tr >
                                    <td>
                                        @{
                                            BTUser projectManager = await ProjectService.GetProjectManagerAsync(project.Id);

                                        }
                                        <a asp-controller="Projects" asp-action="Details" asp-route-id="@project.Id">@project.Name</a>
                                        @if(projectManager is not null)
                                        {
                                            <p class="text-muted">Project Manager: @projectManager.FullName</p>
                                        }
                                        else
                                        {
                                            <p class="text-muted">Project Manager: Unassigned</p>
                                        }

                                    </td>
                                    <td><span class="badge badge-success">@project.StartDate.ToString("MM/dd/yyyy")</span></td>
                                    <td><span class="badge badge-danger">@project.EndDate.ToString("MM/dd/yyyy")</span></td>
                                    <td>
                                        <ul class="list-unstyled team-info pb-0 mb-0">
                                            @foreach(BTUser member in project.Members)
                                            {
                                               @if(member.AvatarFileData is null)
                                               {
                                                   <li><img src="https://cdn.icon-icons.com/icons2/1378/PNG/512/avatardefault_92824.png" title="@member.FullName"  alt="Default Avatar"></li>
                                               }
                                               @if(member.AvatarFileData is not null)
                                                {
                                                    <li><img src="data:image/*;base64,@(Convert.ToBase64String(member.AvatarFileData))" title="@member.FullName"  alt="@member.FullName's Avatar" /></li>
                                                }

                                            }
                                        </ul>
                                    </td>
                                    <td>
                                        @if(project.Tickets is null)
                                        {
                                            <strong>0</strong>
                                        }
                                        @if(project.Tickets is not null)
                                        {
                                            <strong>@project.Tickets.Count()</strong>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    @*Tickets Table*@
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card">
            <div class="header">
                <h2>Tickets</h2>
            </div>
            <div class="body">
                <div class="table-responsive">
                    <table class="table table-hover js-basic-example dataTable table-custom mb-0">
                        <thead class="thead-dark">
                            <tr>
                                <th>Title</th>
                                <th>Developer</th>
                                <th>Status</th>
                                <th>Priority</th>
                                <th>Date</th>
                                <th>Action</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            @foreach(Ticket ticket in Model.Tickets)
                            {
                                <tr>
                                    <td>@ticket.Title</td>
                                    @if(ticket.DeveloperUser is null && ( User.IsInRole(nameof(Roles.Admin)) || User.IsInRole(nameof(Roles.Admin)) ) )
                                    {
                                        <td><a asp-controller="Tickets" asp-action="AssignDeveloper" asp-route-id="@ticket.Id" class="btn btn-sm btn-info">Assign Dev</a></td>
                                    }
                                    else if(ticket.DeveloperUser is null)
                                    {
                                        <td></td>
                                    }
                                    else
                                    {
                                        <td>@ticket.DeveloperUser.FullName</td>
                                    }
                                    <td>
                                        @if(ticket.TicketStatus.Name == nameof(BTTicketStatus.New))
                                        {
                                            <span class="badge badge-primary">New</span>
                                        }
                                        @if(ticket.TicketStatus.Name == nameof(BTTicketStatus.Development))
                                        {
                                            <span class="badge badge-info">Development</span>
                                        }
                                        @if(ticket.TicketStatus.Name == nameof(BTTicketStatus.Resolved))
                                        {
                                            <span class="badge badge-success">Resolved</span>
                                        }
                                        @if(ticket.TicketStatus.Name == nameof(BTTicketStatus.Testing))
                                        {
                                            <span class="badge badge-warning">Testing</span>
                                        }
                                    </td>
                                    <td>
                                        @if(ticket.TicketPriority.Name == nameof(BTTicketPriority.Urgent))
                                        {
                                            <span class="badge badge-default">Urgent</span>
                                        }
                                        @if(ticket.TicketPriority.Name == nameof(BTTicketPriority.High))
                                        {
                                            <span class="badge badge-default">High</span>
                                        }
                                        @if(ticket.TicketPriority.Name == nameof(BTTicketPriority.Medium))
                                        {
                                            <span class="badge badge-default">Medium</span>
                                        }
                                        @if(ticket.TicketPriority.Name == nameof(BTTicketPriority.Low))
                                        {
                                            <span class="badge badge-default">Low</span>
                                        } 
                                    </td>
                                    <td>@ticket.Created.ToString("MM-dd-yyyy")</td>
                                    <td>
                                        <a asp-controller="Tickets" asp-action="Details" asp-route-id="@ticket.Id" class="btn btn-sm btn-outline-info"><i class="icon-eye"></i></a>
                                        <a asp-controller="Tickets" asp-action="Edit" asp-route-id="@ticket.Id" class="btn btn-sm btn-outline-secondary"><i class="icon-pencil"></i></a>
                                        <a class="btn btn-sm btn-outline-danger" asp-controller="Tickets" asp-action="Archive" asp-route-id="@ticket.Id"><i class="fa fa-file-archive-o"></i></a>
                                    </td>
                                    
                                </tr>
                            }
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script src="~/bundles/jvectormap.bundle.js"></script> <!-- JVectorMap Plugin Js -->
    <script src="~/bundles/morrisscripts.bundle.js"></script>
    <script src="~/bundles/knob.bundle.js"></script> <!-- Jquery Knob-->
    <script src="~/vendor/nestable/jquery.nestable.js"></script> <!-- Jquery Nestable -->
    <script src="~/js/pages/ui/sortable-nestable.js"></script>
    <script src="~/js/index4.js"></script>
    <script src="~/bundles/datatablescripts.bundle.js"></script>
    <script src="~/js/pages/tables/jquery-datatable.js"></script>
    <script src="~/js/index7.js"></script>



    <script>
        
        $(function() {
            "use strict";

                // top products =================
                var dataStackedBar = {
                    labels: ['P1','P2','P3','P4','P5','P6','P7'],
                    series: [
                        [1231,3205,4520,2351,5632,3205,4520],
                        [2541,2583,1592,2674,2323,1592,2674],
                        [1212,5214,2325,4235,2519,1212,5214],
                    ]
                };
                new Chartist.Bar('#chart-roles', dataStackedBar, {
                    height: "250px",
                    stackBars: true,
                    axisX: {
                        showGrid: false
                    },
                    axisY: {
                        labelInterpolationFnc: function(value) {
                            return value;
                        }
                    },
                    plugins: [
                        Chartist.plugins.tooltip({
                            appendToBody: true
                        }),
                        Chartist.plugins.legend({
                            legendNames: ['Developers', 'Submitters', 'Project Managers']
                        })
                    ]
                }).on('draw', function(data) {
                        if (data.type === 'bar') {
                            data.element.attr({
                                style: 'stroke-width: 20px'
                            });
                        }
                });
        });
    </script>
}



