@model IEnumerable<BugTracker.Models.Project>
@using BugTracker.Models.Enums
@using Microsoft.AspNetCore.Identity
@using BugTracker.Services.Interfaces

@inject UserManager<BTUser> UserManager
@inject IBTProjectService ProjectService

@{
    ViewData["Title"] = "Archived Projects";
    BTUser user = await UserManager.GetUserAsync(User);
}

@section VendorCSS {
    <link rel="stylesheet" href="~/vendor/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css">
    <link rel="stylesheet" href="~/vendor/jquery-datatable/dataTables.bootstrap4.min.css">
}


<div class="row clearfix mt-4">
	<div class="col-lg-12 col-md-12">
		<div class="card">
			<div class="body">
                <div class="table-responsive">
                    <table class="table table-hover js-basic-example dataTable table-custom mb-0">
                        <thead>
							<tr>
								<th>Project</th>
								<th>End Date</th>
								<th>Progress</th>
								<th>Project Manager</th>
								<th>Team</th>
								<th>Status</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							@foreach (Project project in Model)
							{
								<tr>
									<td class="row">
										<span class="col-12"><strong>@project.Name</strong></span>
										<span class="col-12">Created @project.StartDate.ToString("MMMM dd, yyyy")</span>
									</td>
									<td>@project.EndDate.ToString("MMMM dd, yyyy")</td>
									<td>
										@{
											var start = project.StartDate.DateTime;
											var end = project.EndDate.DateTime;
											var today = DateTime.Now;
											var percent = today >= end ? 100 : today < start ? 0 : Math.Round((today.Subtract(start)) / (end.Subtract(start)) * 100);
										}
										<div class="progress progress-xs progress-transparent custom-color-blue">
											<div class="progress-bar" data-transitiongoal="87" style="width: @percent%;" aria-valuenow="@percent">
											</div>
										</div>
										<span class="text-center">@percent% to completion</span>
									</td>
									@{
										BTUser projectManager = await ProjectService.GetProjectManagerAsync(project.Id);

										Console.WriteLine(projectManager);
									}

									@if(projectManager is null)
									{
										<td><strong>Unassigned</strong></td>
									}

									@if( projectManager is not null && projectManager.AvatarFileData is null)
									{
										<td>
											<img src="https://cdn.icon-icons.com/icons2/1378/PNG/512/avatardefault_92824.png"  class="rounded-circle" style="width:40px;height:40px;"  title="@projectManager.FullName"  alt="Default Avatar" />
											<span>@projectManager.FullName</span>
										</td>
									}
									@if (projectManager is not null && projectManager.AvatarFileData is not null)
									{
										<td>
											<img src="data:image/*;base64,@(Convert.ToBase64String(projectManager.AvatarFileData))"  class="rounded-circle" style="width:40px;height:40px;" title="@projectManager.FullName"  alt="@projectManager.FullName's Avatar" />
											<span>@projectManager.FullName</span>
										</td>
									}
									

									<td>
                                        <ul class="list-unstyled team-info pb-0 mb-0">
                                            @foreach(BTUser member in project.Members.Where(m => m.Id != projectManager.Id))
                                            {
												@if(member.AvatarFileData is null)
												{
													<li><img src="https://cdn.icon-icons.com/icons2/1378/PNG/512/avatardefault_92824.png" style="width:35px;height:35px;" title="@member.FullName"  alt="Default Avatar"></li>
												}
												@if(member.AvatarFileData is not null)
												{
													<li><img src="data:image/*;base64,@(Convert.ToBase64String(member.AvatarFileData))"  title="@member.FullName"  alt="@member.FullName's Avatar" /></li>
												}
                                            }
                                        </ul>
                                    </td>

									@if(project.EndDate > DateTime.Now)
									{
										<td><span class="badge badge-success">Active</span></td>
									}
									@if(project.EndDate < DateTime.Now)
									{
										<td><span class="badge badge-default">Inactive</span></td>
									}
									<td>
                                        <a asp-controller="Projects" asp-action="Details" asp-route-id="@project.Id" class="btn btn-sm btn-outline-info"><i class="icon-eye"></i></a>
										@if(User.IsInRole(nameof(Roles.Admin)))
										{
											<a asp-controller="Projects" asp-action="Edit" asp-route-id="@project.Id" class="btn btn-sm btn-outline-secondary"><i class="icon-pencil"></i></a>
											<a class="btn btn-sm btn-outline-success" asp-controller="Projects" asp-action="Restore" asp-route-id="@project.Id"><i class="icon-action-redo"></i></a>
										}
                                    </td>

								</tr>
								
							}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>


@section Scripts {
    <script src="~/bundles/datatablescripts.bundle.js"></script>
    <script src="~/js/pages/tables/jquery-datatable.js"></script>
    
}

