@model BugTracker.Models.Project
@using BugTracker.Extensions
@using BugTracker.Models.Enums
@using BugTracker.Services.Interfaces
@using Microsoft.AspNetCore.Identity

@inject UserManager<BTUser> UserManager
@inject IBTProjectService ProjectService
@inject IBTTicketHistoryService HistoryService
@inject IBTTicketService TicketService
@inject IBTRolesService RolesService

@{
    ViewData["Title"] = "Details";

    BTUser user = await UserManager.GetUserAsync(User);
    BTUser projectManager = await ProjectService.GetProjectManagerAsync(Model.Id);

    int companyId = User.Identity.GetCompanyId().Value;
}
@section VendorCSS {
    <link rel="stylesheet" href="~/vendor/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css">
    <link rel="stylesheet" href="~/vendor/jquery-datatable/dataTables.bootstrap4.min.css">
}

<div class="row clearfix">
    <div class="col-4">
        <div class="row">
            @*Project Name/Description/Progress*@
            <div class="col-md-12 col-lg-12 pb-0">
                <div class="card">
                    <div class="body">
                        <h2>@Model.Name</h2>
                        <p>@Model.Description</p>
                        @{
							var start = Model.StartDate.DateTime;
							var end = Model.EndDate.DateTime;
							var today = DateTime.Now;
							var percent = today >= end ? 100 : today < start ? 0 : Math.Round((today.Subtract(start)) / (end.Subtract(start)) * 100);
						}
                        <p>Project Status:</p>
						<div class="progress progress-transparent custom-color-blue">
							<div class="progress-bar" data-transitiongoal="87" style="width: @percent%;" aria-valuenow="@percent">
                                <span class="text-center">@percent%</span>
							</div>
						</div>

                        @if(User.IsInRole(nameof(Roles.Admin)) || projectManager.Id == user.Id)
						{
							<br />
							<a class="btn btn-sm btn-outline-warning" asp-action="Edit" asp-controller="Projects" asp-route-id="@Model.Id">Edit Project</a>
							<a class="btn btn-sm btn-outline-danger"  asp-action="Archive" asp-controller="Projects" asp-route-id="@Model.Id">Archive Project</a>
						}
                    </div>
                </div>
            </div>
            @*Project Created/Deadline/Priority/Status*@
            <div class="col-md-12 col-lg-12 pb-0">
                <div class="card">
                    <div class="body">
                        <div class="row">
                            <div class="col-12 pb-4">
                                <span class="text-muted float-left">Created</span>
                                <span class="badge badge-default float-right">@Model.StartDate.ToString("MM/dd/yyyy")</span>
                            </div>
                            <div class="col-12 pb-4">
                                <span class="text-muted float-left">Deadline</span>
                                <span class="badge badge-default float-right">@Model.EndDate.ToString("MM/dd/yyyy")</span>
                            </div>
                            <div class="col-12 pb-4">
                                <span class="text-muted float-left">Priority</span>
                                <span class="badge badge-primary float-right">@Model.ProjectPriority.Name</span>
                            </div>
                            <div class="col-12">
                                <span class="text-muted float-left">Status</span>
                                @if(Model.EndDate < DateTime.Now)
                                {
                                    <span class="badge badge-danger float-right">Inactive</span>
                                }
                                @if(Model.EndDate > DateTime.Now)
                                {
                                    <span class="badge badge-success float-right">Active</span>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*Project Team*@
            <div class="col-md-12 col-lg-12">
                <div class="card">
                    <div class="header mb-0 pb-0">
                        <h2>Project Team</h2>

                        <p class='text-muted'>@Model.Members.Count team members</p>
                    </div>
                    <div class="body w_user mt-0 pt-0">

                        @if(projectManager is not null)
                        {
                            @if(projectManager.AvatarFileData is null)
                            {
                                <img src="https://cdn.icon-icons.com/icons2/1378/PNG/512/avatardefault_92824.png" class="rounded-circle"  title="@projectManager.FullName"  alt="Default Avatar" />
                            }
                            @if(projectManager.AvatarFileData is not null)
                            {
                                <img src="data:image/*;base64,@(Convert.ToBase64String(projectManager.AvatarFileData))" class="rounded-circle" title="@projectManager.FullName"  alt="@projectManager.FullName's Avatar" />
                            }

                                <div class="wid-u-info">
                                    <h5>@projectManager.FullName</h5>
                                    <p class="text-muted m-b-0">@projectManager.Email<br>Project Manager</p>
                                </div>
                        }
                        else
                        {
                            @if(User.IsInRole(nameof(Roles.Admin)))
                            {
                                <h2>No Project Manager Assigned</h2>
                                <a class="btn btn-sm btn-outline-primary" asp-controller="Projects" asp-action="AssignPM" asp-route-projectId="@Model.Id">Assign Project Manager</a>
                            }
                            else
                            {
                                <h2>No Project Manager Assigned</h2>
                            }
                        }
                        <hr>

                        @foreach(BTUser member in Model.Members.Where(m => m.Id != projectManager.Id))
                        {
                            
                            <ul class="right_chat list-unstyled mb-0">
                                <li class="online">
                                    <div class="media">
                                        @if(member.AvatarFileData is null)
                                        {
                                            <img src="https://cdn.icon-icons.com/icons2/1378/PNG/512/avatardefault_92824.png" class="media-object " style="width:40px;height:40px;"  title="@member.FullName"  alt="Default Avatar" />
                                        }
                                        @if(member.AvatarFileData is not null)
                                        {
                                            <img src="data:image/*;base64,@(Convert.ToBase64String(member.AvatarFileData))" class="media-object " style="width:40px;height:40px;" title="@member.FullName"  alt="@member.FullName's Avatar" />
                                        }

                                        @{
                                            IEnumerable<string> memberRoles = await RolesService.GetUserRolesAsync(member);
                                            string memberRole = memberRoles.FirstOrDefault();
                                        }
                                
                                        <div class="media-body">
                                            <span class="name">@member.FullName</span>
                                            <span class="message">@memberRole</span>
                                        </div>
                                    </div>
                                </li>
                             </ul>
                        }
                        @if(User.IsInRole(nameof(Roles.Admin)) || (User.IsInRole(nameof(Roles.ProjectManager)) && user.Id == projectManager.Id ))
                        {
                            <a class="btn btn-info text-center" asp-action="AssignMembers" asp-controller="Projects" asp-route-id="@Model.Id">Manage Team</a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*Tickets*@
    <div class="col-8">
		<div class="card">
			<div class="body">
                <div class="table-responsive">
                    <table class="table table-hover js-basic-example dataTable table-custom mb-0">
                        <thead class="thead-dark">
							<tr>
								<th>Title</th>
								<th>Developer</th>
								<th>Status</th>
								<th>Priority</th>
								<th>Date</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							@foreach (Ticket ticket in Model.Tickets.Where(t => t.Archived == false))
											{
								<tr>
                                    @*Title*@
									<td>
										<strong>@ticket.Title</strong>
									</td>

                                    @*Developer*@
									@if(ticket.DeveloperUser is not null)
                                    {
                                        <td>@ticket.DeveloperUser.FullName</td>
                                    }
                                    else
                                    {
                                        @if(User.IsInRole(nameof(Roles.Admin)) || (User.IsInRole(nameof(Roles.ProjectManager)) && user.Id == projectManager.Id) )
                                        {
                                            <td><a asp-controller="Tickets" asp-action="AssignDeveloper" asp-route-id="@ticket.Id">Assign Developer</a></td>
                                        }
                                        else
                                        {
                                            <td></td>    
                                        }
                                    }

                                    @*Status*@
                                    @if(ticket.TicketStatus.Name == nameof(BTTicketStatus.New))
                                    {
                                        <td><span class="badge badge-success">New</span></td>
                                    }

                                    @if(ticket.TicketStatus.Name == nameof(BTTicketStatus.Development))
                                    {
                                        <td><span class="badge badge-primary">Development</span></td>
                                    }

                                    @if(ticket.TicketStatus.Name == nameof(BTTicketStatus.Testing))
                                    {
                                        <td><span class="badge badge-warning">Testing</span></td>
                                    }

                                    @if(ticket.TicketStatus.Name == nameof(BTTicketStatus.Resolved))
                                    {
                                        <td><span class="badge badge-default">Resolved</span></td>
                                    }

									<td><span class="badge badge-default">@ticket.TicketPriority.Name</span></td>
									
                                    <td>@ticket.Created.ToString("MM/dd/yyyy")</td>

									<td>
                                        <a asp-controller="Tickets" asp-action="Details" asp-route-id="@ticket.Id" class="btn btn-sm btn-outline-info"><i class="icon-eye"></i></a>
                                        @if (User.IsInRole(nameof(Roles.Admin)) || user.Id == projectManager.Id || user.Id == ticket.OwnerUserId)
                                        {
                                            <a asp-controller="Tickets" asp-action="Edit" asp-route-id="@ticket.Id" class="btn btn-sm btn-outline-secondary"><i class="icon-pencil"></i></a>
                                            <a class="btn btn-sm btn-outline-danger" asp-controller="Tickets" asp-action="Archive" asp-route-id="@ticket.Id"><i class="fa fa-file-archive-o"></i></a>
                                        }
                                    </td>

								</tr>
								
							}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

@section Scripts {
    <script src="~/bundles/datatablescripts.bundle.js"></script>
    <script src="~/js/pages/tables/jquery-datatable.js"></script>
}

