@model IEnumerable<BugTracker.Models.Project>
@using BugTracker.Models.Enums
@using Microsoft.AspNetCore.Identity
@using BugTracker.Services.Interfaces

@inject UserManager<BTUser> UserManager
@inject IBTProjectService ProjectService

@{
    ViewData["Title"] = "All Projects";
    BTUser btUser = await UserManager.GetUserAsync(User);
}



@{
    ViewData["Title"] = "Manage Projects";
    ViewData["MainMenu"] = "Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section VendorCSS {
    <link rel="stylesheet" href="~/vendor/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css">
}

<div class="row clearfix">
    @foreach(Project project in Model)
    {
        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
            <div class="card">
                <div class="header">
                    <h2>@project.Name<small>@project.ProjectPriority.Name</small></h2>
                    <ul class="header-dropdown">
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"></a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li><a asp-action="Details" asp-controller="Projects" asp-route-id="@project.Id">View</a></li>
                                <li><a asp-action="Edit" asp-controller="Projects" asp-route-id="@project.Id">Edit</a></li>
                                <li><a asp-action="Archive" asp-controller="Projects" asp-route-id="@project.Id">Archive</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="body">
                    <p style="overflow-y:auto;max-height:50px;min-height:50px;">@project.Description</p>
                    <ul class="list-unstyled team-info m-t-20">
                        <li class="m-r-15"><small class="text-muted">Team</small></li>
                        @foreach(BTUser member in project.Members)
                        {
                            @if(member.AvatarFileData is null)
						    {
							    <li><a asp-action="MemberProfile" asp-controller="Home" asp-route-userId="@member.Id"><img src="https://cdn.icon-icons.com/icons2/1378/PNG/512/avatardefault_92824.png" style="width:35px;height:35px;" title="@member.FullName"  alt="Default Avatar"></a></li>
						    }
						    @if(member.AvatarFileData is not null)
						    {
							     <li><a asp-action="MemberProfile" asp-controller="Home" asp-route-userId="@member.Id"><img src="data:image/*;base64,@(Convert.ToBase64String(member.AvatarFileData))"  title="@member.FullName"  alt="@member.FullName's Avatar" /></a></li>
						    }
                        }

                        @if(project.Members.Count < 1)
                        {
                            <li><span><strong>No Assigned Members</strong></span></li>
                        }

                        <a asp-action="AssignMembers" asp-controller="Projects" asp-route-id="@project.Id" class="btn btn-sm btn-info float-right">Manage Team</a>
                    </ul>
                    <div class="progress progress-xs progress-transparent custom-color-blue">
                        <div class="progress-bar" data-transitiongoal="87"></div>
                    </div>
                    <div class="row">
                        <div class="col-7">
                            <small>TICKETS: @project.Tickets.Count</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@section Scripts {
    <script>
    $('.progress .progress-bar').progressbar({
            display_text: 'none'
    });
    </script>
}
