@model BugTracker.Models.Invite

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Invite</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyToken)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyToken)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InviteDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InviteDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JoinDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JoinDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InviteeEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InviteeEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InviteeFirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InviteeFirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InviteeLastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InviteeLastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsValid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsValid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Company)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Company.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Invitor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Invitor.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Invitee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Invitee.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Project)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Project.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
